.workspace-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 700px;

  .workspace-detail__body {
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;

    .left {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;

      .header {
        flex-shrink: 0;
        font-size: 24px;
        font-weight: bold;
        color: #555;
        padding: 15px 20px;
        padding-bottom: 0;
      }
    }

    .right {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #dcdfe6;

      .header {
        padding: 15px 20px;

        .title {
          font-size: 24px;
          font-weight: bold;
          color: #555;
        }
      }
    }
  }
}

.workspace-detail__header {
  flex-shrink: 0;
  background-color: #f5f5f5;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  .left {
    flex-grow: 1;
    min-width: 0;

    display: flex;
    align-items: center;
    gap: 15px;

    .title-container {
      min-width: 0;

      display: flex;
      align-items: center;

      .title {
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #543d21;
        font-weight: bold;
        font-size: 24px;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

  .right {
    flex-shrink: 0;
  }
}

.prompts {
  flex-grow: 1;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  resize: none !important;

  font-size: 16px;
  padding: 20px;
  padding-top: 15px;
}

.plugins {
  display: block;
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 20px;
  padding-bottom: 20px;

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }

  .plugins__item {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    word-break: break-all;
    word-wrap: break-word;

    & + .plugins__item {
      margin-top: 24px;
    }

    :global {
      .ant-checkbox {
        align-self: flex-start;
        margin-top: 15px;
      }
      .ant-checkbox-label {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin: 0;
        padding: 0;
      }
    }

    .icon {
      margin-top: 2px;
    }

    .info {
      .title {
        font-size: 18px;
        font-weight: bold;
        color: #543d21;
      }

      .desc {
        margin-top: 4px;
        font-size: 14px;
        color: #555;
      }

      .time {
        margin-top: 12px;
        font-size: 12px;
        color: #aaa;
      }
    }
  }
}
