.chat-message {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.chat-message-item {
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;

  & + & {
    margin-top: 10px;
  }
}

.chat-message-item--user {
  color: #000000;
  font-size: 22px;
  background-color: #f6fbff;
  border-radius: 12px;
  padding: 21px 22px;
  font-weight: bold;
  position: relative;
}

.chat-message-item--assistant + .chat-message-item--user {
  margin-top: 66px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    transform: scaleY(0.5);
  }
}

.chat-message-item--assistant {
  margin-top: 33px;
}
