.chat-message-result {
  .chat-message-result__think {
    margin-top: 10px;
    color: #8b8b8b;
    border-left: 2px solid #e5e5e5;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .chat-message-result__md {
    :global {
      .refrence-token {
        color: var(--ant-color-primary);
        font-weight: bold;
      }
    }
  }
}

.chat-message-result__source {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .item {
    background-color: #f4fafa;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #e1e7e7;
    }

    flex-basis: calc(50% - 12px);

    @media (max-width: 768px) {
      flex-basis: 100%;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 6px;

    .id {
      flex-shrink: 0;
      color: var(--ant-color-primary);
      font-weight: bold;
    }

    .icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    .url {
      min-width: 0;
      font-size: 14px;
      font-weight: bold;
      color: #6f798b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #3079f8;
  }

  .content {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #6f798b;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 14px * 1.5 * 3;
  }
}

.chat-message-result__images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .item {
    border: 1px solid #dce3ea;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.06);
    }

    flex-basis: calc(25% - 12px);
    overflow: hidden;

    @media (max-width: 768px) {
      flex-basis: calc(50% - 12px);
    }
  }

  .box {
    height: 0;
    padding-bottom: 55.94%;
    position: relative;

    .cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.chat-message-result__thinks {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #888;
  .chat-message-result__thinks-item {
    .header {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: bold;
      color: #303d4f;

      .header-icon {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        background-color: #95c5ed;

        &.thinking {
          background-color: #2861e7;
        }
      }
    }

    .thinks-results {
      border-left: 1px solid #95c5ed;
      margin: 6px 0;
      margin-left: 10px;
      padding: 9px 0;
      padding-left: 16px;

      .thinks-results__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .content {
          overflow: hidden;
        }

        .count {
          flex-shrink: 0;
        }
      }
    }
  }
}
