.section {
  & + & {
    margin-top: 40px;
  }
  .section-header {
    display: flex;
    align-items: center;
    gap: 4px;

    &__icon {
      width: 32px;
      height: 32px;
      background-color: #e7f4ff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      > img {
        width: 27px;
        height: 27px;
      }
    }

    &__title {
      font-size: 20px;
      color: #333;
      font-weight: bold;
    }

    &__arrow {
      font-size: 14px;
      color: #333;
      font-weight: bold;
      margin-left: 4px;
      transition: transform 0.3s ease;
    }
  }

  :global {
    .ant-collapse-header {
      padding: 0 !important;
    }
    .ant-collapse-item-active {
      :local(.section-header__arrow) {
        transform: rotate(180deg);
      }
    }
  }
}
