.com-spinner {
  display: inline-block;
  white-space: nowrap;
}

.com-spinner > div {
  width: 8px;
  height: 8px;
  background-color: var(--ant-color-primary);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.com-spinner .com-spinner__bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.com-spinner .com-spinner__bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
