.workspace-icon {
  border: 1px solid transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px 0px rgba(black, 0.1);

  img {
    width: 66.667%;
    height: 66.667%;
  }
}
