.ant-btn-color-primary.ant-btn-variant-text {
  --ant-color-link: var(
    --ant-color-primary
  ); //  antd 错误地将 text/primary 颜色设为了 ant-color-link
}

.ant-dropdown-menu {
  color: white;
  background-color: black;
  --ant-color-bg-elevated: black;
  --ant-color-text: white;
  --ant-control-item-bg-hover: rgba(255, 255, 255, 0.3);
}

.ant-spin-fullscreen {
  z-index: 9999999999;
}